
<p id="notice"><%= notice %></p>


<h1>Listagem de respostas para disciplina:
    <%= @offer.course.name %> - <%= @offer.turno %>
    (<%= @offer.professor.name %>)
</h1>

<% if @answers.count == 0 %>
  <h1 style="color:red;"> Ainda não foram enviadas respostas! </h1>
<% else %>

  <% @data.each do |q, as| %>
    <h2> <%= q %> </h2>
    <p> <%= teste(as) %> </p>
  <% end %>

  <h1> Comentários </h1>
    <ul>
      <% @answers.each do |answer| %>
        <li> <%= answer.comment %> </li>
      <% end %>
    </ul>

  <br>

<% end %>
