<p id="notice"><%= notice %></p>

<h1>Listagem de Disciplinas por fase</h1>

<table border="1px">
  <thead>
    <tr>
      <th>Código</th>
      <th>Nome</th>
      <th>Professor</th>
      <th>Turno</th>
      <% if logged_in? %>
        <th>Respostas</th>
        <th>Link para responder</th>
    <% end %>
    </tr>
  </thead>

  <tbody>
    <% @offers.select { |o| o.active }.group_by { |o| o.semester }.each do |s, offers| %>
      <tr> <th colspan="4"> Fase: <%= s %> </th> </tr>
      <% offers.sort_by { |o| o.course.code }.each do |offer| %>
        <tr>
          <td><%= offer.course.code %></td>
          <td><%= offer.course.name %></td>
          <td><%= offer.professor.name %></td>
          <td><%= offer.turno %></td>
          <% if logged_in? %>
            <td><%= link_to 'Respostas', offer_answers_path(offer) %></td>
            <td><%= link_to 'New Answer', new_offer_answer_path(offer) %> </td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>


