<p id="notice"><%= notice %></p>

<p>
  <strong>Professor:</strong>
  <%= @offer.professor %>
</p>

<p>
  <strong>Course:</strong>
  <%= @offer.course %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
